/*CONFIGURAÇÃO PADRÃO*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background-color: #f0f4f8;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh
}

/*FIM DA CONFIGURAÇÃO PADRÃO*/


/*INICIA ESTRUTURAÇÃO DO CARD*/

/*ESTRUTURA PRINCIPAL DO CARD*/
.card {
    background-color: #ffffff;
    width: 400px;
    padding: 24px;
    border-radius: 16px;
    border: 2px solid #1a202c;
    box-shadow: 4px 8px 0px #3182ce, 4px 8px 0px 2px #1a202c;
}

/*Titulo*/
.card_title {
    font-size: 20px;
    color: #2d3748;
    font-weight: 600;
    margin-bottom: 12px;
}

/*container do saldo*/
.balanco_container {
    background-color: #dbeafe;
    border-radius: 12px;
    padding: 12px 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 24px;
}




/*FINALIZA ESTRUTURAÇÃO DO CARD*/

